:root {
    --first-font: 'Roboto', sans-serif;
    --second-font: 'Raleway', sans-serif;
    --first-color: #212121;
    --second-color: #757575;
    --third-color: #2196F3;
    --fourth-color: #FFFFFF;
    --first-background-color: #E5E5E5;
    --second-background-color: #2F303A;
    --third-background-color: #F5F4FA;
    --fourth-background-color: #ffffff;
    --first-cursor: pointer;
    --list-style-type: none;
}
body {
    font-family: var(--first-font);
    color: var(--first-color);
}
ul {
    list-style-type: var(--list-style-type);
}
.btn:hover,
.btn:focus {
    cursor: var(--first-cursor);
    background-color: var(--third-color);
    color: var(--fourth-color);
}
.link:hover,
.link:focus {
    cursor: var(--first-cursor);
    color:var(--third-color);
}
.address-link:hover,
.address-link:focus {
    cursor:var(--first-cursor);
    color:var(--third-color);
}
.link,
.address-link {
    text-decoration: none;
    font-size: 14px;
}
.address-link {
    color:var(--fourth-color);
    line-height: 24px;
}
.address {
    font-style: normal;
}
.logo,
.header-logo {
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
}
.logo {
    color: var(--fourth-color);
}
.header-logo {
    color:var(--first-color);
}
span {
    color:var(--third-color);
}
.alt,
.service-desc {
    color:var(--second-color);
}
.description {
    font-size: 18px;
}
.btn {
    font-size: 16px;
}
.title {
    font-size: 44px;
}
.service-name,
.service-desc {
    font-size: 14px;
}
h2 {
    font-size: 36px;
}
.name {
    font-size: 16px;
    font-weight: 500;
}
#footer{
    background-color: var(--second-background-color);
    height: 252px;
}

